# Compiled files
*.exe
*.exe~
*.dll
*.so
*.db
*.dylib
*.test

# Binary file
meeting-server
__debug*

# Dependencies
/vendor/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Database (локальная БД не нужна в репозитории)
app.db
*.db

# Logs
*.log

uploads/
docs/
server
